# FUTURE SALES PREDICTION - FINAL PREDICTION

## Importing the libraries

In [1]:
import joblib as jb
feature_selection=jb.load('D:\data science/sales project/files/train/model/feature_selected_model.pkl')
encode_model=jb.load('D:\data science/sales project/files/train/model/train_encode_model.pkl')
model=jb.load('D:\data science/sales project/files/train/model/gb.pkl')

In [2]:
import pandas as pd
from math import sqrt
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

**Create a def function called flow that takes two parameters as x_path,y_path. The steps for creating the def function is as folllows**

In [3]:
def flow (x_path,y_path):
    #read
    x_test=pd.read_csv(x_path)
    y_test=pd.read_csv(y_path)
    
    # encode
    encode_data=encode_model.transform(x_test)
    encode_data=pd.DataFrame(encode_data, columns=x_test.columns)
    
    # Feature_selection
    feature_selected=encode_data[feature_selection]

    # predcit
    y_pred=pd.DataFrame(model.predict(feature_selected))
    
    #metrics
    MAE=mean_absolute_error(y_pred,y_test)
    MSE=mean_squared_error(y_pred,y_test)
    RMSE=sqrt(mean_squared_error(y_pred,y_test))
    R2=r2_score(y_pred,y_test)
    
    return y_pred,MAE,MSE,RMSE,R2

In [5]:
y_pred,MAE,MSE,RMSE,R2=flow('D:\data science/sales project/test data/raw/x_test_final.csv','D:\data science/sales project/test data/y.csv')

In [6]:
y_pred

              0
0     18.352189
1     11.106546
2     16.609012
3      2.998429
4     12.743404
...         ...
2664   2.920983
2665  17.554419
2666   1.130976
2667  18.149297
2668  20.523941

[2669 rows x 1 columns]

In [7]:
MAE

0.47227233018155634

In [8]:
MSE

1.2057331642358247

In [9]:
RMSE

1.098058816382722

In [10]:
R2

0.9625605366643593

We can see the predicted sales along with the title by using the following

In [11]:
df=pd.read_csv('D:\data science/sales project/test data/raw/test.csv')

In [12]:
y_pred['title']=df['title']
y_pred

              0                                title
0     18.352189                            Vector TD
1     11.106546  Gaitame Baibai Trainer  Kabutore FX
2     16.609012         Space Invaders  Invasion Day
3      2.998429                            SimCity 4
4     12.743404                                Numba
...         ...                                  ...
2664   2.920983                   UFC  Sudden Impact
2665  17.554419                    The Polar Express
2666   1.130976                 Terminator Salvation
2667  18.149297                                 RUSH
2668  20.523941                               Micron

[2669 rows x 2 columns]